In [39]:
import pandas as pd
from math import log10

In [21]:
df = pd.DataFrame([*range(5+1), 10, 100, 128, 256], columns=['10ичное'])

In [24]:
df['2ичное'] = df['10ичное'].apply(lambda n: bin(n)[2:])
df.T

         0  1   2   3    4    5     6        7         8          9
10ичное  0  1   2   3    4    5    10      100       128        256
2ичное   0  1  10  11  100  101  1010  1100100  10000000  100000000

In [28]:
bin(55)

'0b110111'

In [53]:
df = pd.DataFrame(
    [
        (n, f'{0}--{sci_form(2**n)}', f'{sci_form(-2**(n//2))}--{sci_form(2**(n//2)-1)}')
        for n in [8, 16, 32, 64]
    ],
    columns=['разрадность', 'беззнаковый', 'знаковый']
)

In [54]:
df

,разрадность,беззнаковый,знаковый
0,8,0--2.56 \cdot 10^{2},-1.6 \cdot 10^{1}--1.5 \cdot 10^{1}
1,16,0--6.5536 \cdot 10^{4},-2.56 \cdot 10^{2}--2.55 \cdot 10^{2}
2,32,0--4.294967296 \cdot 10^{9},-6.5536 \cdot 10^{4}--6.5535 \cdot 10^{4}
3,64,0--1.8446744073709551 \cdot 10^{19},-4.294967296 \cdot 10^{9}--4.294967295 \cdot 1...

In [48]:
def sci_form(x):
    sign = 1 if x >= 0 else -1
    x = abs(x)
    exp = int(log10(x))
    mant = x / (10 ** exp)
    return f'{sign * mant} \cdot 10^{{{exp}}}'

In [50]:
sci_form(-505)

'-5.05 \\cdot 10^{2}'

In [55]:
df.style.to_latex()

'\\begin{tabular}{lrll}\n & разрадность & беззнаковый & знаковый \\\\\n0 & 8 & 0--2.56 \\cdot 10^{2} & -1.6 \\cdot 10^{1}--1.5 \\cdot 10^{1} \\\\\n1 & 16 & 0--6.5536 \\cdot 10^{4} & -2.56 \\cdot 10^{2}--2.55 \\cdot 10^{2} \\\\\n2 & 32 & 0--4.294967296 \\cdot 10^{9} & -6.5536 \\cdot 10^{4}--6.5535 \\cdot 10^{4} \\\\\n3 & 64 & 0--1.8446744073709551 \\cdot 10^{19} & -4.294967296 \\cdot 10^{9}--4.294967295 \\cdot 10^{9} \\\\\n\\end{tabular}\n'

In [72]:
s = df.style.format('${0}$')
df.style.hide(axis='index')

In [78]:
def style(styler):
    return df.style.format('${0}$').hide(axis='index')

In [84]:
style(df).to_md()

AttributeError: 'Styler' object has no attribute 'to_md'